.container {
  padding: 0 0 10rem 0;
  width: 70%;
  max-width: 1920px;
  margin: 0 auto;
}

.mainHero {
  display: flex;
  background: white;
  margin: 0 auto;
  height: 50%;
  margin-bottom: 5rem;
}

.left {
  display: flex;
  flex: .5;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

.title {
  font-family: thicccbold;
  font-size: 4rem;
  margin: 0;
}

.description {
  font-family: thicccreg;
  font-size: 1.2rem;
}

.right {
  display: flex;
  justify-content: center;
  flex: .5;
}

.button {
  margin-top: 3%;
  font-family: thicccmed;
  color: white;
  background: #3d3d3d;
  border: none;
  font-size: 1rem;
  padding: 0 3%;
  height: 40px;
  width: 180px;
}

.button:hover {
  transform: translateY(-1px);
  cursor: pointer;
  box-shadow: 1px 3px 0 0 rgba(112, 112, 112, 0.466);
}

.featured {
  margin: 0 auto;
  height: auto;
  margin-bottom: 8rem;
}

.featuredTitle {
  font-family: thicccmed;
  font-size: 1.8rem;
}

.featuredItems {
  display: flex;
  justify-content: space-between;
}

.concept {
  margin-bottom: 18rem;
}

.conceptTitle {
  position: absolute;
  width: 80%;
  padding: 0 3rem;
  font-family: thicccmed;
  margin-top: 4rem;
  font-size: 4rem;
  color: white;
}

.conceptBackground{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30rem;
  background: rgba(24, 22, 43, 0.945);
  padding: 15rem 3rem;
}

.conceptBox {
  width: 30%;
  border-radius: 5px;
  padding: 3rem 1.2rem;
  margin: 0 1rem;
  height: 375px;
  background: rgb(246, 246, 246);
  box-shadow: 0 50px 130px 0px rgba(57, 61, 70, .15);
}

.boxTitle {
  height: 20%;
  font-family: thicccbold;
  font-size: 1.7rem;
}

.boxDescription{
  font-family: thicccreg;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.oneFeature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 2rem;
  height: 500px;
  margin-bottom: 5rem;
}

.oneFeatureTitle {
  height: 20%;
  font-family: thicccbold;
  font-size: 3rem;
}

.oneFeatureDescription{
  font-family: thicccreg;
  font-size: 2rem;
}
.price{
  font-family: thicccsemi;
  font-size: 1.5rem;
}

.wei{
  font-family: thicccreg;
  font-size: 1rem;
}

.ending {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a2a2a;
  height: 500px;
}

.endingOutline {
  justify-self: center;
  position: absolute;
  border: 1px solid #cccccc;
  height: 465px;
  width: 68%;
}

.endingTitle {
  font-size: 5rem;
  padding: 0 5rem;
  color: #cccccc;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
