.container {
  padding: 0 0 10rem 0;
  width: 70%;
  max-width: 1920px;
  margin: 0 auto;
}

.mainHero {
  display: flex;
  background: white;
  margin: 0 auto;
  height: 50%;
  margin-bottom: 5rem;
}

.left {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}

.title {
  font-family: thicccbold;
  font-size: 4rem;
  margin: 0;
}

.description {
  font-family: thicccreg;
  font-size: 1.2rem;
}

.right {
  display: flex;
  justify-content: center;
  flex: 0.5;
}

.button {
  margin-top: 3%;
  font-family: thicccmed;
  color: white;
  background: #3d3d3d;
  border: none;
  font-size: 1rem;
  padding: 0 3%;
  height: 40px;
  width: 180px;
}

.button:hover {
  transform: translateY(-1px);
  cursor: pointer;
  box-shadow: 1px 3px 0 0 rgba(112, 112, 112, 0.466);
}

.featured {
  margin: 0 auto;
  height: auto;
  margin-bottom: 8rem;
}

.featuredTitle {
  font-family: thicccmed;
  font-size: 1.8rem;
}

.featuredItems {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.itemContainer {
  display: flex;
  justify-content: center;
}

.concept {
  margin-bottom: 18rem;
}

.conceptTitle {
  position: absolute;
  width: 70%;
  padding: 0 3rem;
  font-family: thicccmed;
  margin-top: 4rem;
  font-size: 4rem;
  color: white;
}

.conceptBackground {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30rem;
  background: rgba(24, 22, 43, 0.945);
  padding: 15rem 3rem;
}

.conceptBox {
  width: 30%;
  border-radius: 5px;
  padding: 3rem 1.2rem;
  margin: 0 1rem;
  height: 375px;
  background: rgb(246, 246, 246);
  box-shadow: 0 50px 130px 0px rgba(57, 61, 70, 0.15);
}

.boxTitle {
  height: 20%;
  font-family: thicccbold;
  font-size: 1.7rem;
}

.boxDescription {
  font-family: thicccreg;
  font-size: 1.2rem;
  line-height: 1.7rem;
}


.oneFeatureContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: white;
  padding: 2rem;
  height: 500px;
  margin-bottom: 5rem;
}

.oneFeatureLeft {
  width: 50%;
  padding: 0 2rem;
}

.oneFeatureRight {
  flex: 1;
  max-width: 450px;
  padding: 0 2rem;
}

.oneFeatureTitle {
  height: 20%;
  font-family: thicccbold;
  font-size: 3rem;
}

.oneFeatureDescription {
  font-family: thicccreg;
  font-size: 2rem;
}
.price {
  font-family: thicccsemi;
  font-size: 1.5rem;
}

.wei {
  font-family: thicccreg;
  font-size: 1rem;
}

.ending {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a2a2a;
  height: 500px;
}

.endingOutline {
  justify-self: center;
  position: absolute;
  border: 1px solid #cccccc;
  height: 470px;
  width: 68%;
}

.endingTitle {
  font-size: 5rem;
  padding: 0 5rem;
  color: #cccccc;
}

@media screen and (max-width: 1140px) {
  .container {
    width: 90%;
  }

  .endingOutline {
    width: 85%;
  }
}

@media screen and (max-width: 890px) {
  .container {
    width: 90%;
  }

  .oneFeatureContainer{
    flex-direction: column;
  }
  
  .title {
    font-size: 3rem;
  }

  .conceptTitle {
    width: 90%;
  }

  .boxTitle {
    font-size: 1.4rem;
  }

  .boxDescription {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 98%;
    text-align: center;
    padding: 0;
  }

  .mainHero {
    flex-direction: column;
    width: 100vw;
    padding-top: 2rem;
  }

  .left {
    padding: 2rem 0;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .featuredItems {
    flex-direction: column;
    align-items: center;
  }

  .itemContainer {
    width: auto;
  }

  .concept {
    margin-bottom: 8rem;
  }

  .conceptTitle {
    width: 100%;
    font-size: 2.5rem;
  }

  .conceptBackground {
    flex-direction: column;
    height: 200vh;
    align-items: center;
    padding: 15rem 1rem;
  }

  .conceptBox {
    width: 100%;
  }

  .boxTitle {
    font-size: 2rem;
  }

  .boxDescription {
    font-size: 1.25rem;
  }

  .oneFeatureContainer {
    flex-direction: column;
    height: auto;
  }

  .oneFeatureLeft {
    width: 100%;
    margin-bottom: 2rem;
  }

  .oneFeatureTitle{
    font-size: 2rem;
  }

  .oneFeatureDescription{
    font-size: 1.5rem;
  }

  .ending {
    height: 300px;
  }

  .endingOutline {
    height: 33%;
    width: 94%;
  }

  .endingTitle{
    font-size: 3rem;
  }

}
